.list {
    padding: 15px;
    margin-top: 10px;
}

.emptyList {
    text-align: center;
}

.listItem {
    border-bottom: 1px solid lightgray;
}

.ownerName {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}