.question {
    align-items: center;
    margin: 5px 0px 5px 0px;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    margin: 0px;
    padding: 0px;
    height: 19px;
}

.notes {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px 5px 0px;
}