.question {
    margin-bottom: 10px;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .question {
        margin-bottom: 15px;
    }
}